---
import logo from "../assets/image/logoHeader.png";
import album1 from "../assets/image/Album1.jpg";
import album2 from "../assets/image/Album2.jpg";
import album3 from "../assets/image/Album3.jpg";
import album4 from "../assets/image/Album4.jpg";
import album5 from "../assets/image/Album5.jpg";
import album6 from "../assets/image/Album6.png";
import album7 from "../assets/image/Album7.webp";
---
<header id="home">
  <img src={logo.src} alt="">
  <div class="content-box"> 
    <h1>A musical escape to the dimension of Jamaican sounds...</h1>
  </div>
</header>
<section id="albums">
  <h2>MUSIC</h2>
  <div class="underline"></div>
  <div class="albums">
    <div class="album project">
      <div class="content-hover"> 
        <img src={album1.src} alt="">
        <p>Dubzz - Raggafunky Session</p>
        <p class="grey">Artist</p>
        <div class="content">
          <button class="primarybutton">
            <a href="#" target="_blank">Go to the album</a>
          </button>
        </div>
      </div>
    </div>

    <div class="album project">
      <div class="content-hover"> 
        <img src={album2.src} alt="">
        <p>Margarita</p>
        <p class="grey">Artist</p>
        <div class="content">
          <button class="primarybutton">
            <a href="#" target="_blank">Go to the album</a>
          </button>
        </div>
      </div>
    </div>

    <div class="album project">
      <div class="content-hover"> 
        <img src={album3.src} alt="">
        <p>Sunshine</p>
        <p class="grey">Artist</p>
        <div class="content">
          <button class="primarybutton">
            <a href="#" target="_blank">Go to the album</a>
          </button>
        </div>
      </div>
    </div>

 <div class="album project">
      <div class="content-hover"> 
        <img src={album4.src} alt="">
        <p>Benicassim</p>
        <p class="grey">Artist</p>
        <div class="content">
          <button class="primarybutton">
            <a href="#" target="_blank">Go to the album</a>
          </button>
        </div>
      </div>
    </div>

   <div class="album project">
      <div class="content-hover"> 
        <img src={album5.src} alt="">
        <p>Be Yourself</p>
        <p class="grey">Artist</p>
        <div class="content">
          <button class="primarybutton">
            <a href="#" target="_blank">Go to the album</a>
          </button>
        </div>
      </div>
    </div>

   <div class="album project">
      <div class="content-hover"> 
        <img src={album6.src} alt="">
        <p>Hi - Fi</p>
        <p class="grey">Artist</p>
        <div class="content">
          <button class="primarybutton">
            <a href="#" target="_blank">Go to the album</a>
          </button>
        </div>
      </div>
    </div>

    <div class="album project">
      <div class="content-hover"> 
        <img src={album7.src} alt="">
        <p>The Dance of Shiva</p>
        <p class="grey">Artist</p>
        <div class="content">
          <button class="primarybutton">
            <a href="#" target="_blank">Go to the album</a>
          </button>
        </div>
      </div>
    </div>
</section>

<style lang="scss">
  @use '../assets/sass/index' as *;

  //start here

  .content-hover {
    position: relative;
  }

  .content {
    position: absolute;
    background-image: url("../assets/image/hoverportada.png");
    background-size: cover;
    background-position: center;
    width: 230px;
    height: 230px;
    top:0;
    border-radius: 8px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  .content.show {
    opacity: 1;
    visibility: visible;
  }
  //end here

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, .6,.6, 40%), rgba(0,.5,.5, 100%)), url("../assets/image/movilDesk.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 60vh;
  }

  .content-box {
    display: flex;
    justify-content: left;
    text-align: left; 

    h1 {
      margin-top: 100px;
    }
  }
  
  section {
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
  }

  .album img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .album {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba($grey, 50%);
    padding: 40px 20px 50px 20px;
    border-radius: 10px;
    overflow: hidden;

    p{
      margin: 20px 0 0 0;
      font-weight: $bold;
    }

    .grey {
      color: $grey;
    }
  }

  @media only screen and (min-width: 1024px) {

    header {
      background-image: linear-gradient(to bottom, rgba(0, .6,.6, 0%), rgba(0,.2,.2,60%)), url("../assets/image/desk.jpg");
      background-size: cover;
      background-position: center center;
      overflow: hidden;
      flex-direction: row;
      justify-content: left;
      text-align: left;
      height: 80vh;
    }

    h1 {
      margin-top: 100px;
      font-size: 2rem;
      margin: 0 9%;
    }

    .content-box {
      width: 200%;
    }

    header img {
      display: none;
    }
  }
</style>
